[Unit]
Description=Mosquitto MQTT bridge

[Container]
ContainerName=mosquitto
Image=docker.io/eclipse-mosquitto:2
Volume=./mosquitto/config:/mosquitto/config/:z
Network=avena.network

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
